<nav>
<p><a href="/#about">About</a></p>
<p><a href="/#education">Education</a></p>
<p><a href="/#publications">Publications</a></p>
<!--<p><a href="thoughts.html">Thoughts</a></p>-->
<div class="v-spacer"></div>
<p><a href="home">Control Panel</a></p>
</nav>
